body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
}
 
.site-navigation a:active {
  background-color: #766357;
}

background-image{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  
}

.features-item {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  
}

.features-item p, span1 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #81b3d2;
  
}

.features-item1-1, h3, h4 {
  font-size: 21px;
  line-height: 21px; 
  font-weight: 700;
}

.features-item1-1 p, span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

}

.features-list1 {
    background-color: #eeeeee;
}

.question {
  font-size: 30px;
  line-height: 36px;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;  
}

.search-hotels {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.search-hotels:hover, 
.search-hotels:focus {
  background-color: #604e43;  
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
  
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-item, .search-item1 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff; 
}

.button.selection-number {
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}
 
.button.selection-number:hover,
.button.selection-number:focus {
  color: #000000;
}

.button.selection-number:active {
  color: #81b3d2;
}

.search label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.button-search {
  color: #ffffff;
  background-color: #81b3d2;
}
 
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
 }
 
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.background-image{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filters legend,
.filter-price span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters input + label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  color: #6a6a6a;

  opacity: 0.5;
}

.price-per-day {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter.button-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: transparent;
}

.filter.button-button:hover
.filter.button-button:focus {
  color: transparent;
  background-color: #ffffff;
}

.selection-hotels p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

}

.selection-title b{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.selection-type {
  list-style: none;
}

.selection-item a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:hover,
.selection-item a:focus {
  color: #81b3d2;
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:current {
  color: #81b3d2;
  border-bottom: none;
}

.selection-item a:active {
  color: #000000;
  border-bottom: none;
}

.catalog-list {
  list-style: none;
}

.sorting a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-category p,
.catalog-price p{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

a.more-detailes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
 }

a.more-detailes:hover,
a.more-detailes:focus {
  background-color: #669ec0;
 }

a.more-detailes:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.booking-accomodation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
 }

a.booking-accomodation:hover,
a.booking-accomodation:focus {
  background-color: #604e43;
 }

a.booking-accomodation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}



.main-footer: {
  background-color: rgba(254, 254, 254, 0.9);
}
 
.website-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700; 
  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
 }
 
.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.link-academy {
 }

html,
body {
  min-width: 1280px;
  min-height: 2762px;
}

body {
  /* Временно для сетки */
  background-image: url(../img/background.jpg);
  background-size: 1372px auto;
  background-repeat: no-repeat;
}

.main-header {
  margin-bottom: 63px;

  /* Временно для сетки */
  min-height: 56px;
}

.main-navigation {
  display: flex; 
  position: relative;
     
 /* Временно для сетки */
  min-height: 56px;
  background-color: transparent;
}

.main-header-logo {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 139px;
  height: 70px;
}

.site-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 70px;
}

.features.main-picture {
  position: relative;
  width: 1200px;
  height: 800px;
  background-position: top center;
  background-repeat: no-repeat;
}

.features {
 }

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

/* Временно для сетки */
  min-height: 1099px;
}

.feature-item {
  width: 400px;

/* Временно для сетки */
  min-height: 256px;
}

.features-item1-1 {
  width: 400px;

/* Временно для сетки */
  min-height: 335px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 459px;
 
/* Временно для сетки */
  min-height: 38px;
}

.features-item1 {
   width: 226px;

/* Временно для сетки */
  min-height: 38px;
}

.main-footer {
   padding: 36px 45px 36px 49px;
   margin-top: 78px;

   /* Временно для сетки */
   background: none;
   min-height: 120px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  width: 140px;
  margin-right: 47px;

  /* Временно для сетки */
  min-height: 21px;
}

.social list {
  width: 155px; 
    
  /* Временно для сетки */
  min-height: 48px;
}

.footer-copyright {
  width: 200px; 
  
  /* Временно для сетки */
  min-height: 41px;
}
