body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  display: flex; 
  position: relative;
  width: 100%;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
 }

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
 
.site-navigation a:active {
  color: #766357;
}

.features.main-picture {
  position: relative;
  background-color: #2b576b;
  background-image: url("../img/background.jpg");
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  margin-bottom: 58px;
    
  /* Временно для сетки */
  min-height: 509px;
}

.promo-foto {
  margin-right: auto;
  margin-left: auto;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 33px;
  display: inline-block;
  margin: 0;
  padding: 0;
 }

.features-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 51px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
}

.features-main {
  overflow: hidden;
  width: 400px;
  height: 260px;
  background-color: #81b3d2;
}

.features-foto {
  overflow: hidden;
  width: 800px;
  height: 260px;
  margin: 0;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  /* Временно для сетки */
  min-height: 185px;
}

.advantages-item {
    width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  /* Временно для сетки */
  min-height: 185px;
}

.advantages h4 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.advantages p {
  color: #333333;
}

.advantages1 {
  color: #333333;
}

.advantages1-list {
 display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
 
 /* Временно для сетки */
  min-height: 141px;
}

.advantages1-item {
  width: 400;
  font-weight: 400;
  font-size: 14px;
  font-size: 21px;
  color: #000000;

  /* Временно для сетки */
  min-height: 141px;
}

.advantages h4 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.advantages p {
  color: #333333;
}

.advantages1 {
  color: #333333;
}

.advantages1-item.wrapper {
  display: flex;
  margin-bottom: 52px;
}

.advantages1 {
  background-color: #eeeeee;
  width: 400px;
  padding-top: 50px;
  padding-right: 76px;
  padding-left: 76px;
  padding-bottom: 60px;
}

.good-qualities {
  color: #000000;
  background-color: #eeeeee;
  flex-basis: 400px;
}

.good-qualities h3 {
  color: #000000;
}

.features-number1 {
  color: #000000;
 }

.good-qualities p {
  padding-bottom: 51px;
}

.modal-map {
  height: 475px;
  position: relative;
}

.features {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
 }

.features {
/*  margin: 0;
  padding: 45px 0 0;*/
  
}

.features-town h3, span, p {
  margin: 0 auto;
  padding: 0;
}

.features-town p {
  margin: 0 auto;
  padding: 27px 15px 27px 15px;
  max-width: 300px;
}

.features-town p {
  width: 330px;
}

.features-foto {
  
background-image: url(../img/photo-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: left;
}

.features-item {
  display: flex;
  align-items: center;
  flex-basis: 400px;
  margin: 0;
 }
.features-item.item-width {
  display: flex;
  flex-wrap: wrap;
    flex-basis: 100%;
 }

.features-item p, span1 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
 }

.features-item1-1, h3, h4 {
  font-size: 21px;
  line-height: 21px; 
  font-weight: 700;
}

.features-item: first-of-type(1), {
  width: 800px;
  min-height: 256px;
  background-image: url(../img/photo-1.jpg);
  background-position: left;
  background-repeat: no-repeat;
}
.features-item: first-of-type(2), {
  width: 800px;
  min-height: 256px;
  background-image: url(../img/photo-2.jpg);
  background-position: left;
  background-repeat: no-repeat;
}

.features-list1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list-1 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features-list-1 .features-item1-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  min-height: 335px;
}

.features-item p, span,
.features-item1-1 p, span, {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.features-item h3,
.features-item1-1 h4 {
  margin: 0;
  margin: 45px auto 65px;
  width: 155px;
  font-size: 21px;
  line-height: 21px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendations-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 33.3%;
  height: 330px;
  padding: 55px 60px 85px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.advanteges {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list .features-item (2n+1) {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 61px;
  background-color: #eeeeee;
}

.search-part {
  display: inline-block;
  height: 300px;
  width: 100%;
  background-color: #ffffff;
}

.search-part b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  margin-top: 55px;
}

.search-part p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  margin-top: 33px;
}

.button-hotels {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  margin-top: 49px;
  padding: 33px 138px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-hotels:hover, 
.button-hotels:focus {
  background-color: #604e43;  
}

.button-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form p {
  position: relative;
  align-self: flex-start;
  margin: 0;
  margin-bottom: 30px;
}

.search-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 316px;
  width: 458px;
  height: 282px;
  padding: 55px;
  background-color: #ffffff;
}

.search input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
}

.search input:hover {
  background-color: #ebebeb;
}

.search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-item, .search-item1 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff; 
}

.button.selection-number {
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}
 
.button.selection-number:hover,
.button.selection-number:focus {
  color: #000000;
}

.button.selection-number:active {
  color: #81b3d2;
}

.search-form label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
}

.search-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.button-search {
   padding: 15px 0;
  margin-top: auto;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

}
 
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
 }
 
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.background-image{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
}

.filters {
  display: flex;
  justify-content: flex-start;
  font: inherit;
  height: 217px;
  color: #ffffff;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.filter fieldset {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  border: none;
 }

.filters legend,
.filter-price span {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters input + label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #2d4448;
  background-color: #ffffff;
}

.filter-input:disabled + label {
  color: #6a6a6a;

  opacity: 0.5;
}

.filter.button-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: transparent;
}

.filter.button-button:hover
.filter.button-button:focus {
  color: transparent;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
   padding: 36px 45px 36px 49px;
  margin-top: 78px;
  position: absolute;

  width: 1200px;
  height: 120px;

  bottom: 0;
}

.website-button {
  font-size: 21px;
  line-height: 26px;
  width: 400px;
  font-weight: 700;
  color: #000000;
 }

.footer-social {
  display: flex;
  justify-content: center;

  width: 400px;
}

.social-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 152px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  width: 400px;
}

.link-academy {
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;

  margin-left: 10px;
}

.inner-page {
  /* Временно для сетки */
  background-image: url("..img/background.jpg");
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
  
  /* Временно для сетки */
  min-height: 217px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.sorting-accommodation {
  border: none;
  width: 180px;
}

.filter-check {
  width: 370px;
}

.price-per-day {
  font-weight: 700;
  font-size: 16px;
}

.filter-type {
  list-style: none;
}

.filter-living {
  font-weight: 400;
  cursor: pointer;
}

.filter.button-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid #ffffff;
}

.filters.button-rezult:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
}

.selection-hotels {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
}

.selection-wrapper {
  display: flex;
}

.selection-type {
  display: flex;
  margin: 0;
  padding: 0;
}

.selection-title b{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-right: 45px;  
  margin: 0;
  padding: 0;
}

.selection-hotels p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-right: 38px;
  padding: 0;
}

.selection-type {
  list-style: none;
}

.selection-item {
  margin-right: 28px;
}

.catalog-category p,
.catalog-price p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.selection-type {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.selection-item a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:hover,
.selection-item a:focus {
  color: #81b3d2;
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:current {
  color: #81b3d2;
  border-bottom: none;
}

.selection-item a:active {
  color: #000000;
  border-bottom: none;
}

.catalog {
  display: flex;
  padding: 30px 72px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  
   /* Временно для сетки */
  min-height: 180px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
}

.hotel-description-wrapper {
  display: flex;
}

.sorting {
  margin: 0;
  padding: 0;
}

.sorting a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.more-detailes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
 }

a.more-detailes:hover,
a.more-detailes:focus {
  background-color: #669ec0;
 }

a.more-detailes:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.booking-accomodation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  box-sizing: border-box;
 }

a.booking-accomodation:hover,
a.booking-accomodation:focus {
  background-color: #604e43;
 }

a.booking-accomodation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  text-align: right;
}

.rating-numbers {
  margin: 0;     
  padding: 4px 17px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}

