body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ffffff;
  background-image: url("img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #81b3d2;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  color: #6a6a6a;

  opacity: 0.5;
}

.filter-button-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: transparent;
}

.filter-button-button:hover
.filter-button-button:focus {
  color: #ffffff;
}

.selection-hotels p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

}

.selection-type {
  list-style: none;
}

.selection-item a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #6a6a6a;
  border-bottom: dotted;
}

.selection-item a:hover,
.selection-item a:focus {
  color: #81b3d2;
}
 
.selection-item a:active {
  color: #000000;
}

.active-item a {
  color: #81b3d2;
  border-bottom: none;
}

.catalog-list {
  list-style: none;
}

.catalog h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

a.more-detailes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

a.more-detailes:hover,
a.more-detailes:focus {
  background-color: #669ec0;
}

 a.more-detailes:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

 a.booking-accomodation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
 }

 a.booking-accomodation:hover,
 a.booking-accomodation:focus {
  background-color: #604e43;
 }

 a.booking-accomodation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

rating-numbers {
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer: {
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-social ul {
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.link-academy {
}


