html {
 -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

.main-navigation {
  min-height: 56px;
  color: #000000;
  background-color: #FFFFFF;
  position: relative;
}

.main-navigation-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 531px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 72px;
  padding-right: 72px;
}

.site-navigation li {
  font-weight: bold;
  width: 240px;
  padding-top: 15px;
}

.nav-one {
  width: 240px;
  text-align: left;
}

.nav-two {
  width: 240px;
  margin-right: auto;
  text-align: left;
}

.nav-three {
  margin-left: auto;
  text-align: right;
}

.nav-four {
  width: 240px;
  text-align: right;
}

.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active {
  color: #766357;
}

.main-navigation a,
.site-navigation a {
  color: #000000;
}

.site-navigation a:focus,
.main-navigation a:focus {
  color: #333333;
}

.main-navigation a:hover,
.site-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active,
.site-navigation a:active {
  color: #cacaca;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.promo-foto {
  width: 1200px;
  height: 513px;
  margin-bottom: 48px;
}

.introduction {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.introduction b {
  width: 445px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 27px;
  color: #000000;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
 }

.introduction p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.features-list-1, .features-list-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style:none;
  padding: 0;
  margin: 0;
}

.advantages-item1.item-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 256px;
 }

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
 }

.first-item .features-number { 
  color: #ffffff;
}

.container1.blue h3 {
  margin-top: -23px;
}

.features-main p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  margin-top: 23px;
}

.first-item {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 256px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.features-foto {
  overflow: hidden;
  width: 800px;
  height: 256px;
  margin: 0;
}

.first-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 50px;
  margin: 0;
  margin-bottom: 25px;
}

.first-item p {
  font-size: 14px;
  line-height: 21pz;
  margin: 0;
  padding: 0;
}

.features-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 5px;
}

.features-number::before,
.features-number::after {
  content: "";
  width: 9px;
  height: 2px;
  background-color: #a8a8a8;;
}

.features-number:before {
  margin-right: 5px;
}

.features-number::after {
  margin-left: 5px;
}

.first-item.section-two {
  padding-right: 45px;
  padding-left: 45px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  min-height: 330px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  width: 77px;
  height: 77px;
  background-repeat: no-repeat;
}

.advantages-item.one::before {
  top: 60px;
  left: 162px;
  background-image: url("../img/icon-1.svg");
}

.advantages-item.two::before {
  top: 61px;
  left: 161px;
  background-image: url("../img/icon-3.svg");
}

.advantages-item.three::before {
  top: 56px;
  left: 168px;
  background-image: url("../img/icon-2.svg");
}

.advantages-item {
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-item.two {
  padding-left: 55px;
  padding-right: 55px;
}

.advantages-list h4 {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  margin: auto;
  padding-top: 160px;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-top: 23px;
}

.qualities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style: none;
  text-align: center;
  min-height: 257px;
  color: #000000;
  background-color: #eeeeee;
}

.qualities-list h3 {
  color: #000000;
}

 .features-item {
  width: 400px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 47px;
}

 .features-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 75px;
}

.features-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
 }

 .search-part {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}

.search-part b {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
  display: block;
  margin-bottom: 23px;
}

.search-part p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 47px;
  max-width: 550px;
  text-align: center
}

.button-hotels {
   display: block;
   width: 568px;
   margin: 0 auto;
   padding: 30px;
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   font-family: inherit;
   text-transform: uppercase;
   border: none;
   background-color: #766357;
   color: #ffffff;
}

.button-hotels:hover, 
.button-hotels:focus {
  background-color: #604e43;  
}

.button-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-283px);
            transform: translateX(-283px);
  }

  70% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-283px);
            transform: translateX(-283px);
  }

  70% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.search-form {
 z-index: 2;
  left: 50%;
  width: 568px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  padding: 55px 55px;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
  margin-left: -283px;
 }

.search-form-hidden {
  display: none;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s; 
 }

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-weight: 700;
  margin-bottom: 30px;
}

.search-form p { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-weight: 700;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: none;
}

.search input {
  width: 345px;
  height: 38px;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #f2f2f2;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
  padding: 0px 10px 0px 15px;
}
.search input:hover {
    background-color: #ebebeb;
}
.search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.guests-quantity input {
  width: 38px;
  text-align: center;
}

.button-calendar {
  position: absolute;
  right: 0px;
  top: 7px;
  background-color: #f2f2f2;
  fill: #a9a9a9;
  outline-color: #e5e5e5;
  border: none;
}

.button-calendar:hover {
  fill: #000000;
  background-color: #ebebeb;

}
.button-calendar:active {
    fill: #81b3d2;
    outline: none;
    background-color: transparent;
}

.search-form label {
  width: 112px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  display: inherit;
 }

.search-item.guests-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-weight: 700;
  border: none;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  margin-bottom: 22px;
}

.guests:nth-child(2) {
  margin-left: 50px;
}

.guests label[for="search-children"] {
  width: 65px;
  font-size: 14px;
  line-height: 26px;
}

.guests input {
  width: 38px;
  height: 38px;
  margin: 0;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.guests input:hover {
  background-color: #ebebeb;
}

.guests input:focus {
  outline: none;
  border: 2px solid #ebebeb;
  background-color: transparent;
}

.guests-quantity button {
  width: 38px;
  height: 38px;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #a9a9a9;
  background-color: #f2f2f2;
  outline-color: #e5e5e5;
  cursor: pointer;
  border: none;
  padding: 0px 1px 0px 2px;
}

.guests-quantity button:hover {
  color: #000000;
  opacity: 1;
  background-color: #ebebeb;
}
.guests-quantity button:active {
  color: #81b3d2;
  background-color: transparent;
  outline: none;
  border: 2px solid #ebebeb;
}

.button-search {
  padding: 15px 0;
  margin-top: auto;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 60px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}
 
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
 }
 
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.filter.button-button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: transparent;
}

.filter.button-button:hover
.filter.button-button:focus {
  color: transparent;
  background-color: #ffffff;
}

.modal-map {
  height: 595px;
  margin: 0;
  padding: 0;
  background-image: url(../img/map.jpg);
} 

.inner-page {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-height: 931px;
}

.filters {
  margin: 0;
  padding: 0;
  background-image: url("../img/background-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #534d4d;
  background-position: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.filters-container {
  padding: 28px 73px 30px 73px;
  margin: 0;
}

.infrastructure {
  width: 240px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

fieldset.sorting-accommodation {
  margin-left: 15px;
}

.sorting-accommodation {
  margin: 0;
  padding: 0;
  width: 240px;
}

.filter-check {
  margin: 0;
  padding: 0;
  width: 328px;
  border: none;
  margin-left: auto;
}

.filters fieldset {
  padding: 0;
  border: none;
  color: #ffffff;
  text-align: left;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 28px;
}

.filter-type {
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  line-height: 35px;
}

.filter-option {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.checkbox {
  display: none;
}

.filter-option label {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  margin-left: 37px;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -37px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -37px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.filter-range {
  width: 330px;
  margin-top: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 18px;
  margin-left: 12px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 82px;
  padding-left: 68px;
  line-height: 5px;
}

.price-controls .max-price {
  width: 82px;
  padding-left: 48px;
  line-height: 5px;
}

label.max-price, label.min-price {
  padding-right: 15px;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 4%;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 34px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.selection-hotels {
   margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 73px 8px 73px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.selection-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
 padding-bottom: 22px;
}

.selection-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
 }

.selection-wrapper b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-right: 51px;
}

.selection-wrapper p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: 45px;
}

.selection-item {
  margin-right: 36px;
  font-size: 12px;
  line-height: 18px;
}

.selection-item:last-child {
  margin-left: auto;
}

.selection-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.selection-item a:hover,
.selection-item a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
 }


.selection-item a:active {
  color: #000000;
  border-bottom: none;
}

.selection-item-active a {
  color: #81b3d2;
  margin-right: 28px;
  font-size: 12px;
  line-height: 18px;
}

.arrows {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.selection-item1:first-child {
  margin-right: 13px;

}

.least-most-arrows svg {
    fill: #cacaca;
}

.least-most-arrows:hover svg,
.least-most-arrows:focus svg,
.most-least-arrows:hover svg, 
.most-least-arrows:focus svg {
    fill: #231f20;
}
.least-most-arrows:active svg,
.most-least-arrows:active svg {
    fill: #81b3d2;
}
.most-least-arrows svg {
    fill: #81b3d2;
}

.catalog {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog ul {
  list-style: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  padding: 29px 73px 30px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e5e5e5;
}

li.catalog-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item img {
  width: 135px;
  height: 90px;
  margin: 0;
}

.hotel-description {
  width: 270px;
  margin-left: 31px;
}

.catalog-item a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;   
  color: #000000;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.detalisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detalisation, .hotel-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
}

.detalisation p, .hotel-description-wrapper p {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-bottom: 16px;
  max-width: 110px;
  text-align: left;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hotel-description h3 {
  margin: 0;
  margin-top: -5px;
  text-align: left;
  letter-spacing: 0.2px;
}

a.more-detailes {
  padding: 4px 16px;
  margin-right: 2px;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
 }

a.more-detailes:hover,
a.more-detailes:focus {
  background-color: #669ec0;
 }

a.more-detailes:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.booking-accomodation {
   padding: 4px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
 }

a.booking-accomodation:hover,
a.booking-accomodation:focus {
  background-color: #604e43;
 }

a.booking-accomodation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  text-align: right;
  height: 90px;
  margin-top: -3px;
}

.hotel-rating-list img {
   width: 18px;
   height: 17px;
} 

.rating-numbers {
  margin-top: 37px;
  padding: 4px 13px;
  background-color: #f2f2f2;
  text-align: right;
}

.main-footer .container {
  padding: 33px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -122px;
}

.inner-footer .container-footer {
  width: 1200px;
  padding: 33px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #ffffff;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 400px;
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: auto 0;
 }

.footer-social ul {
  width: 150px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}


.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  fill: #ffffff;
  background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
 }

.copyright-button svg {
  margin-left: 8px;
  padding-top: 7px;
  width: 108px;
  height: 40px;
}

.copyright-button svg:hover path {
  fill: #81b3d2;
}

.copyright-button svg:active path {
  fill: #bdbbbc;
}
