body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

background-image {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
    
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none; 
}

.main-navigation {
  display: flex; 
  position: relative;
  width: 100%;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  box-sizing: border-box;
 }

.main-header-logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
  color: #766357;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}
 
.site-navigation a:active {
  color: #766357;
}

.features.main-picture {
  position: relative;
  height: 513px;
  background-color: #2b576b;
  background-image: url("../img/background.jpg");
  background-size: 1200px 800px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0px;
  padding-bottom: 5px;
    
  /* Временно для сетки */
  min-height: 509px;
}

.promo-foto {
  position: absolute;
  transform: translateX(-50%);
}

.features {
  min-height: 217px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px;
}

.features-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  margin-bottom: 33px;
  display: inline-block;
  margin: 0;
  padding: 0;
 }

.features-description {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 51px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.features-wrapper {
  display: flex;
}

.features-list p {
  display: flex;
}

.features-list {
  width: 400px;
  padding: 45px 47px;
  color: #ffffff;
  background-color: #81b3d2;

  /* Временно для сетки */
  min-height: 256px;
}

.features-foto {
  width: 800px;
  height: 256px;
}

.features-list {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
}

 .features-list p, span {
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: #ffffff;
   background-color: #81b3d2;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
    
  /* Временно для сетки */
  min-height: 185px;
}

.advantages-item, span {
  width: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding: 58px 55px 80px 55px;

  /* Временно для сетки */
  min-height: 185px;
}

.advantages-item h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.advantages-item p {
  color: #333333;
   margin: 0;
}

.advantages1-item.wrapper {
  margin-bottom: 55px;
}

.advantages1-list {
 display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
 
 /* Временно для сетки */
  min-height: 141px;
}

.advantages1-item, span {
  width: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  /* Временно для сетки */
  min-height: 141px;
}

.advantages1-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.advantages1-item p {
  color: #333333;
  margin: 0;
}

.advantages1-item.wrapper {
  display: flex;
  margin-bottom: 52px;
}

.search-wrapper {
   width: 576px;
  padding: 0 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  text-align: center;
  
  /* Временно для сетки */
  min-height: 290px;
}

.search {
  position: relative;
  text-align: center;
}

.search-wrapper {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding-top: 55px;
}

.question {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search.p {
  line-height: 24px;
}

.search-hotels {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
}

.search-hotels:hover, 
.search-hotels:focus {
  background-color: #604e43;  
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button.selection-number {
  color: #a9a9a9;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: middle;
}
 
.button.selection-number:hover,
.button.selection-number:focus {
  color: #000000;
}

.button.selection-number:active {
  color: #81b3d2;
}

.search {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 568px;
  padding: 56px 52px;
  font-weight: 700;
  line-height: 26px;
  color:#000000;
  background-color: #ffffff;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.button-search {
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
}
 
.button-search:hover,
.button-search:focus {
  background-color: #669ec0;
 }
 
.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.modal-map {
  height: 475px;
  position: relative;
}

.main-footer {
  padding: 36px 0;
  margin-top: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  
  /* Временно для сетки */
  background: none;
  min-height: 120px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.website-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700; 
  color: #000000;
 }

.footer-link {
  width: 140px;
  margin: 0;
  margin-right: 251px;

  /* Временно для сетки */
  min-height: 50px;
}

.social list {
  width: 155px;
    
  /* Временно для сетки */
  min-height: 50px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  font: inherit;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
 }
 
.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
 }

.footer-copyright {
  width: 200px;
  margin: 0;
  margin-left: auto;

  /* Временно для сетки */
  min-height: 50px;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.inner-page {
  /* Временно для сетки */
  background-image: url("..img/background.jpg");
  background-size: 1200px auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;
  
  /* Временно для сетки */
  min-height: 217px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.sorting-accommodation {
  border: none;
  width: 180px;
}

.filter-check {
  width: 370px;
}

.price-per-day {
  font-weight: 700;
  font-size: 16px;
}

.filter-type {
  list-style: none;
}

.filter-living {
  font-weight: 400;
  cursor: pointer;
}

filter.button-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid #ffffff;
}

.filters.button-rezult:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
}

.selection-hotels {
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
}

.selection-wrapper {
  display: flex;
}

.selection-type {
  display: flex;
  margin: 0;
  padding: 0;
}

.selection-title b{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-right: 45px;  
  margin: 0;
  padding: 0;
}

.selection-hotels p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  margin-right: 38px;
  padding: 0;
}

.selection-type {
  list-style: none;
}

.selection-item {
  margin-right: 28px;
}

.catalog-category p,
.catalog-price p{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.selection-type {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.selection-item a{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:hover,
.selection-item a:focus {
  color: #81b3d2;
  border-bottom: 1px rgba(0, 0, 0, 0.3) dotted;
}

.selection-item a:current {
  color: #81b3d2;
  border-bottom: none;
}

.selection-item a:active {
  color: #000000;
  border-bottom: none;
}

.catalog {
  display: flex;
  padding: 30px 72px;
  
   /* Временно для сетки */
  min-height: 180px;
}

.hotel image {
  width: 135px;
  height: 90px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hotel-description-wrapper {
  display: flex;
  justify-content: flex-start;
}

.sorting {
  margin: 0;
  padding: 0;
}

.sorting a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting a:hover,
.sorting a:focus {
  color: #81b3d2;
}

.sorting a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.more-detailes {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
 }

a.more-detailes:hover,
a.more-detailes:focus {
  background-color: #669ec0;
 }

a.more-detailes:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.booking-accomodation {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  box-sizing: border-box;
 }

a.booking-accomodation:hover,
a.booking-accomodation:focus {
  background-color: #604e43;
 }

a.booking-accomodation:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotel-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  text-align: right;
}

.hotel-rating-list {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.rating-numbers {
  margin: 0;     
  padding: 3px 15px;
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}